#titulo{
	text-align:center;
	font-weight: bold;
}

.title{
    text-align: right;
    width: 49%;
 }

.contenedor{
    border: 2px solid lightskyblue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ECF7F9;
 }

.contenido{
    height: 25px;
 }

.text{
    text-align: right;
    width: 49%;
    float: left;
 }

.forms{
    text-align: left;
    width: 50%;
    float: right;
}
