 *      {
            margin:0px;
            padding:0px;
        }
        .text{
          text-align: right;
          width: 49%;
          margin-bottom:15px ;
          float: left;
         }
        .forms{
             text-align: left;
             width: 50%;
             margin-bottom:15px ;
             float: right;
         }
         .contenido{
             height: 25px;
         }
         .espaces{
            margin-right: 35px;
         }
        .contenedor{
            padding-top: 50px;
            padding-bottom: 7%;
            font-size: 20px;
         }
         .title{
             text-align: right;
             width: 49%;
             margin-top: 15px
        }
        .titulo{
            width: 50%;
            margin: auto;
            text-align: center;
        }
