 *#titulo{
    text-align: center;
 }
 .tablagen{
    display: table;
    margin: auto;
    border: 2px solid lightskyblue;
    padding-left: 10%;
    padding-right: 10%;
    background-color:  #ECF7F9;
  }

  .fila{
    display: table-row;
  }
  
  .col{
    display: table-cell;
    padding: 5px;
  }
  .text{
    text-align: right;
  }
  .title{
    font-weight: bold;
    text-align: right;
    font-size: 20px;
  }